<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="adabot">


    <!-- Import adabot xacro flie -->
    <xacro:include filename="$(find adabot_description)/urdf/macros/adabot.xacro" />

    
    
    <!-- Create an adabot -->
    <xacro:adabot bot_name="a01" />

</robot>
