<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="adabot">
    
    
    <!-- Macro to create IMU sensor -->
    <xacro:macro name="imu_sensor" params="bot_name">
        
        <!-- The name of the current weg (based on the parent wheel's name) -->
        <xacro:property name="imu_sensor_name" value="${bot_name}_imu_sensor" />
        
        <link name="${imu_sensor_name}">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.02 0.02 0.02" />
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.02 0.02 0.02" />
                </geometry>
                <material name="red" />
            </visual>
            <inertial>
                <mass value="0.001" />
                <origin xyz="0 0 0" rpy="0 0 0" />
                <inertia ixx="0.00000015" ixy="0" ixz="0" iyy="0.00000015" iyz="0" izz="0.00000015" />
            </inertial>
        </link>
        
        
        <gazebo reference="${imu_sensor_name}">
            <gravity>true</gravity>
            <sensor name='imu_sensor' type='imu'>
                <always_on>1</always_on>
                <update_rate>30</update_rate>
                <visualize>1</visualize>
                <topic>__default_topic__</topic>
                <plugin name='imu_plugin' filename='libgazebo_ros_imu_sensor.so'>
        
            <frameName>imu_sensor_link</frameName>
            <robotNamespace>/adabot</robotNamespace>
        
        
                    <topicName>imu_data</topicName>
                    <!-- <bodyName>imu_sensor_link</bodyName> -->
                    <updateRateHZ>30.0</updateRateHZ>
                    <gaussianNoise>0.0</gaussianNoise>
                    <xyzOffset>0 0 0</xyzOffset>
                    <rpyOffset>0 0 0</rpyOffset>
                </plugin>
                <pose>0 0 0 0 0 0</pose>
            </sensor>
        </gazebo>
    </xacro:macro>

</robot>