<?xml version='1.0'?>
<launch>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find adabot_localization)/config/adabot.localization.yaml" />

        <remap from="odometry/filtered" to="/adabot/filtered/odometry"/>
        <!-- <remap from="accel/filtered" to=""/> -->


    </node>

    <node pkg="adabot_localization" name="adabot_odometry" type="wheel_encoder_odometry.py" output="screen" />

    <node pkg="adabot_localization" name="adabot_velocity" type="velocity_smoother.py" output="screen" />

</launch>
